<form [formGroup]="commentForm" (ngSubmit)="handleFormSubmit()">
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      class="form-control"
      id="comment"
      formControlName="comment"
      rows="3"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="nickname">Nickname</label>
    <input
      type="text"
      name="nickname"
      id="nickname"
      formControlName="nickname"
    />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" formControlName="email" />
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <select name="rating" id="rating" formControlName="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <div class="form-group small">
    <label for="showemail">Show Email</label>
    <input
      type="checkbox"
      name="showemail"
      id="showemail"
      formControlName="showemail"
    />
  </div>
    <div class="form-group small">
    <label for="enableemail">Enable Email</label>
    <input
      type="checkbox"
      name="enableemail"
      id="enableemail"
      formControlName="enableemail"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{ commentForm.value | json }}
